body,
html {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgba(102,102,102,1);
}

li {
    list-style: none;
}

a {
    color: rgba(186, 158, 158, 1);
    text-decoration: none;
}

nav {
    background-color: rgba(241,111,57,1);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    margin-right: 5%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p {
    color: white;
}

.logo img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.jumbotron {
    height: 461px;
    background-image: url('images/header.jpg');
    background-size: cover;
    background-position: top center;
}

.presentation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5% 10%;
}

.presentation .description {
    width: 40%;
}

.presentation .image{
    height: 400px;
    width: 35%;
    border-radius: 40px;
    transform: skew(350deg, 356deg);
    background-image: url('images/promo.jpg');
    background-size: cover;
    background-position: center;
}

.rounds {
    display: flex;
    justify-content: space-around;
    background: linear-gradient(90deg, rgba(102,102,102,1) 42%, rgba(210,209,209,1) 58%);
}

.round {
    width: 145px;
    height: 130px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: rgba(196,196,196,1);
}

.plan {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10% 5%;
    height: 544px;
    background-image: url('images/backgroundshape.png');
    background-size: 100% 100%;
    border-radius: 20px;
}

.plan .map {
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.map img {
    height: 100%;
}

.plan .description {
    width: 30%;
}